body {
  margin: 0px;
  max-width: 100%;
  background-color: #d3e2f2;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #025abf;
}

.NavOPtions {
  flex-direction: row;
  display: flex;
}

.options {
  margin-right: 0.5em;
  font-family: 'Staatliches';
  transition: .5s;
  color: black;
}

.logo {
  font-weight: 900;
  font-family: fantasy;
}

.below-nav {
  display: flex;
  background-color: #025abf;
  justify-content: space-evenly;
  flex-direction: row;
  /*padding-bottom: 3em;*/
  padding-top: 3em;
  border-bottom-left-radius: 10em;
  /*background-image: linear-gradient(#3778c2,#bcd8f8);*/
}

#profilePic {
  height: auto;
  width: 16vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  filter: drop-shadow(-0.1em 0em 0.3em #222);
}

.Intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2em;
}

#name {
  text-align: center;
  font-weight: 800;
  /*font-family: inherit;*/
  font-family: 'Pacifico';
  font-size: 4vw;
  padding-top: 1%;
  color: rgb(255,255,255);
}

#quote {
  text-align: center;
  font-weight: 100;
  font-style: italic;
  font-size: 2vw;
}

@media (min-width: 360px), .below-nav {
  flex-direction: column;
}

.about-line {
  display: flex;
  flex-direction: row;
  margin-bottom: -4em;
}

#about-heading {
  display: flex;
  width: 58%;
  text-align: center;
  /*background-color: rgb(255,0,0);*/
  position: absolute;
  padding-left: 17%;
  padding-top: 4%;
  font-size: 5.2em;
  font-size: 6vw;
  font-weight: 700;
  color: rgb(98,91,91);
  text-shadow: 3px 5px black;
  font-family: 'Staatliches';
}

.curves {
  /*float: right;*/
  position: relative;
  width: 100%;
  /*margin-top: -1em;*/
  margin-top: -0.3rem;
  margin-left: 6%;
  z-index: -9;
}

#about-para {
  display: flex;
  justify-content: center;
  width: 66%;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  font-size: 2vw;
  color: rgb(0,0,0,0.61);
  font-weight: 365;
  margin-top: 1%;
  /*background-color: red;*/
}

.para-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

img {
  /*height: 10px;*/
}

.project-line {
  display: flex;
  background-color: white;
  flex-direction: row;
}

.curves2 {
  position: relative;
  z-index: 9;
}

#project-title {
  position: relative;
  font-size: 5.2em;
  /*font-size: 548%;*/
  font-size: 6vw;
  max-width: 100%;
  font-weight: 700;
  color: rgb(98,91,91);
  text-shadow: 3px 5px black;
  margin-left: 32%;
  padding-top: 2%;
  font-family: 'Staatliches';
}

.project-container {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 4%;
  /*background-color: white;*/
  padding-top: -1%;
  height: 34%;
}

.projects {
}

.pr {
  background-color: white;
  position: relative;
  height: 40vw;
  margin-bottom: -1rem;
}

.project-slide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.project-image {
  height: auto;
  width: 80%;
  box-shadow: 6px 6px 11px;
}

.arrow {
  height: 5vw;
  width: auto;
  margin-top: 14%;
  /*border: solid black;*/
  /*border-width: 0px 3px 3px 0px;*/
  /*display: inline;*/
  /*padding: 3px;*/
}

.hover-effect {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 32%;
  left: 49%;
  transform: translate(-50%, -50%);
  /*-ms-transform: translate(-6%, -50%);*/
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 30vw;
  z-index: 9;
  float: left;
}

.pr:hover .hover-effect {
  opacity: 1;
}

.pr:hover .project-image {
  /*opacity: 0.2;*/
}

.project-name {
  font-size: 3vw;
}

.project-description {
  top: 15%;
  font-family: sans-serif;
  font-size: 1.1vw;
  margin-top: 2%;
}

.skills {
  background-color: rgb(255,255,255);
  width: 100%;
  text-align: center;
  padding-bottom: 7%;
  border-botton-left-radius: 52em;
}

.skills-title {
  font-weight: 700;
  color: rgb(98,91,91);
  text-shadow: 3px 5px black;
  font-size: 6vw;
  padding-top: 3%;
  font-family: 'Staatliches';
}

.skills-badge {
  height: 7vw;
  /*width: 7vw;*/
  border-radius: 100%;
  /*box-shadow: 5px 5px;*/
  margin-left: 5%;
  align-items: center;
  filter: drop-shadow(0.5rem 0.4rem 0.2rem #222);
}

.skill-container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: center;
  padding-top: 1%;
  padding-bottom: 2%;
}

.contact {
}

.skills {
  border-bottom-left-radius: 41%;
  border-bottom-right-radius: 41%;
  /*position: absolute;*/
}

.contacts {
  background-color: #7753b6;
  position: relative;
  /*display: flex;*/
  flex-direction: column;
  align-items: center;
}

.skills-outer-container {
  background-color: #025abf;
}

#contact-heading {
  text-align: center;
  font-size: 3vw;
}

.contact-container {
  display: flex;
  /*justify-content: space-evenly;*/
  flex-direction: column;
  width: 30%;
  /*background-color: #d1c4e9;*/
}

.address-container {
  /*background-color: red;*/
  width: 26%;
  display: flex;
  flex-direction: column;
}

#address-heading, #contact-heading, #social-heading {
  text-align: center;
  font-size: 3vw;
  font-weight: 700;
  font-family: inherit;
  font-family: 'Staatliches';
}

.contact-alignment {
  /*background-color: rgba(0,0,0,0.61);*/
  display: flex;
  justify-content: space-evenly;
}

.social-container {
  display: flex;
  /*background-color: #625b5b;*/
  width: 27%;
  flex-direction: column;
}

#social-heading {
  text-align: center;
}

.icons {
  height: auto;
  width: 4vw;
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#address-description, #phone {
  font-size: 1.5vw;
  font-weight: 700;
  font-family: sans-serif;
  text-align: center;
  /*padding-left: 15%;*/
}

#email {
  font-size: 1.5vw;
  font-weight: 400;
  font-family: sans-serif;
  text-align: center;
  padding-left: 5%;
}

hr {
  color: white;
  height: -17px;
  padding: 1px;
}

.contacts {
  padding-bottom: 20px;
}

#left-arrow {
  margin-right: 1%;
  transform: rotate(-90deg);
  /*-webkit-transform: rotate(135deg);*/
}

#right-arrow {
  margin-left: 1%;
  transform: rotate(90deg);
}

.contact-heading {
  text-align: center;
  font-size: 3vw;
  color: white;
  font-family: serif;
}

#github {
  height: auto;
  width: 4vw;
}

@media (max-width: 768px) {
  .below-nav {
    /*background-color: orange;*/
    flex-direction: column;
    padding-bottom: 8%;
    /*border-bottom-left-radius: 17%;*/
  }
}

@media (max-width: 768px) {
  #profilePic {
    height: auto;
    width: 19vw;
    margin-left: 39%;
    /*box-shadow: 3px 2px black;*/
    border-radius: 5em;
    border: 1px solid black;
    background-color: var(--bs-teal);
  }
}

@media (max-width: 768px) {
  .Intro, #title {
    display: flex;
    text-align: center;
  }
}

#title {
  font-size: 3vw;
  text-align: center;
  /*margin-left: 105px;*/
  /*background-color: red;*/
  margin-left: auto;
  margin-right: auto;
  font-family: 'Staatliches';
}

@media (max-width: 768px) {
  .about-line {
    display: flex;
    /*height: 28vh;*/
    margin-bottom: -3em;
  }
}

@media (max-width: 768px) {
  .curves {
    opacity: 0;
  }
}

@media (max-width: 576px) {
  .about-line {
    margin-bottom: -2em;
  }
}

@media (max-width: 576px) {
  #about-heading, #project-title, .skills-title {
    text-shadow: 2px 1px black;
  }
}

@media (max-width: 576px) {
  .contact-alignment {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .address-container, .contact-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .contact-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .social-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  hr {
    /*height: 0px;*/
    /*width: 0px;*/
    /*opacity: 0;*/
    /*z-index: 8;*/
    position: absolute;
  }
}

#phone-icon, #mail-icon {
  height: auto;
  width: 2vw;
  /*float: left;*/
}

#mail-conatiner {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#pone-container {
  display: flex;
  justify-content: center;
}

#phone {
  /*padding-left: 3%;*/
  font-size: 2vw;
  font-weight: 700;
}

.contacts {
  /*background-color: #ff0000;*/
  padding-top: 3%;
}

@media (max-width: 576px) {
  .contact-container, .social-container {
    /*background-color: #ff0000;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 576px) {
  #address-description {
    font-size: 2vw;
  }
}

.NavOPtions: hover .options {
  opacity: 0;
}

.options: hover {
  background-color: #ff0000;
}

.NavOPtions:hover .options {
  /*background-color: #625b5b;*/
  /*color: white;*/
  cursor: pointer;
}

.NavOPtions a {
  text-decoration: none;
  color: black;
}

.options:hover a {
  color: rgb(255,255,255);
}

.project-image:hover {
  opacity: 0.5;
  /*background-color: #000000;*/
}

.project-image:hover + .hover-effect {
  opacity: 1;
  /*background-color: #7753b6;*/
}

#pr-img-description {
  background-color: #7753b6;
  padding: 0;
  /*width: 56%;*/
}

.project-image:hover + .hover-effect {
  opacity: 1;
  /*background-color: #000000;*/
  color: red;
}

#email a {
  color: #212529;
  text-decoration: none;
  font-weight: 700;
}

.arrow:hover {
  /*background-color: #7753b6;*/
  filter: invert(100%);
  background-color: #5e5c5c;
  border-radius: 78%;
}

.contacts {
  background-color: #025abf;
}

.slider {
  position: relative;
  background: #000116;
  /*width: 800px;*/
  width: auto;
  min-height: 500px;
  overflow: hidden;
  border-radius: 10px;
}

.slider .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .slide .info {
  position: absolute;
  color: #222;
  background: rgba(255,255,255,0.3);
}

#slideshow {
  /*width: 90%;*/
  max-width: 80vw;
}

@media (min-width: 771px) {
  #profilePic {
    /*margin-right: -11%;*/
    /*margin-left: 6.8vw;*/
  }
}

@media (min-width: 884px) {
  #profilePic {
    margin-left: -8.5vw;
  }
}

.slideshow-container {
  /*max-width: 1000px;*/
  position: relative;
  margin: auto;
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  max-width: 80vw;
}

.mySlides {
  /*display: none;*/
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fada {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fada {
}

.mySlides.fada img {
  /*margin-left: 10px;*/
  width: 100%;
}

#nav-button {
  /*background-color: inherit;*/
  border: 0px;
  color: #000000;
  /*max-height: 5vw;*/
  width: 3vw;
}

#nav-button:hover {
  background-color: #000000;
  color: white;
}

.mySlides {
  display: inline-block;
  position: absolute;
}

#prev, #next {
  margin-top: 27%;
}

@media (max-width: 576px) {
  .NavOPtions {
  }
}

@media (max-width: 400px) {
  .options {
    font-size: 7vw;
    margin-top: 4%;
  }
}

